---
layout: default
---

<div class="post">
  <!-- Centered Logo Image with Space -->
  <div style="text-align: center; margin-bottom: 20px;">
    <img src="assets\img\logo.png" alt="Logo" style="max-width: 200px;">
  </div>

  <!-- Main Content -->
  <article>
    <!-- About the Lab -->
    <div class="about-lab">
      <p>{{ page.labs_about }}</p>
    </div>

    {{ content }}
  </article>

  <!-- News -->
  {% if page.news and site.announcements.enabled %}
    <h2>
      <a href="{{ '/news/' | relative_url }}" style="color: inherit">news</a>
    </h2>
    {% include news.liquid limit=true %}
  {% endif %}

  <!-- Selected papers -->
  {% if page.selected_papers %}
    <h2>
      <a href="{{ '/publications/' | relative_url }}" style="color: inherit">selected publications</a>
    </h2>
    {% include selected_papers.liquid %}
  {% endif %}

<!-- Physical Address -->
{% if page.physical_address %}
  <div class="physical-address" style="text-align: center;">
    <p>{{ page.physical_address }}</p>
  </div>
{% endif %}


  <!-- Social -->
  {% if page.social %}
    <div class="social">
      <div class="contact-icons">{% include social.liquid %}</div>
    </div>
  {% endif %}
</div>
